default:
        args: "-l"
        name: "Default scan"
        description: "Scans the local subnet on the first interface found."
subnet2:
        args: "-I eth1 -l"
        name: "Subnet 2 Scan"
        description: "Scans the 2nd Subnet."
