%title WarpScan
%a{:href => "/"}
  %h1 WarpScan
%hr
%body{ :bgcolor => '#E6EEEE' }
  %h2 Available Scans:
  - $config.each do |scan, attrs|
    %a(href="table/#{scan}")
      %h3  #{attrs['name']}
    %ul
      %li <b>Description:</b> #{attrs['description']}
      %li <b>Identifier:</b> #{scan}
    %p

