%script(src="/js/jquery.min.js")
%script(src="/js/jquery.tablesorter.min.js")
%script(src="/js/jsonTable.js")
%script(src="/js/table.js")
%link(rel="stylesheet" type="text/css" href="css/table.css")
%body
  %h1 ARPScan Report
  %hr
  %h2 Scan Metadata:
  %table{:id => "infoTable", :class => "basic"}
  %p
  %h2 Host data:
  %table{:id => "hostsTable", :class => "tablesorter"}
  %p
