%script(src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js")
%script(src="//cdn.datatables.net/1.10.2/js/jquery.dataTables.min.js")
%script(src="//cdn.datatables.net/plug-ins/725b2a2115b/sorting/ip-address.js")
%script(src="https://code.jquery.com/ui/1.11.1/jquery-ui.min.js")
%script(src="/js/table.js")
%link(rel="stylesheet" type="text/css" href="/css/table.css")
%title wARPscan
%a{:href => "/"}
  %h1 wARPscan
%h7* Web-based ARP scanner
%hr
%body
  %h2 Scan Report
  %h3 Scan Metadata:
  = info_table
  %p
  %h3 Host data:
  = hosts_table
  %p
