%script(src="/js/jquery.min.js")
%script(src="/js/jquery.tablesorter.min.js")
%script(src="/js/jsonTable.js")
%script(src="/js/table.js")
%link(rel="stylesheet" type="text/css" href="/css/table.css")
%title WarpScan
%a{:href => "/"}
  %h1 WarpScan
%hr
%body
  %h2 Scan Report
  %h3 Scan Metadata:
  %table{:id => "infoTable", :class => "basic"}
  %p
  %h3 Host data:
  %table{:id => "hostsTable", :class => "tablesorter"}
  %p
