th.headerSortUp { 
	background-color: #DAE5F4; 
}

th.headerSortDown { 
	background-color: #DAE5F4; 
} 

th.header { 
	cursor: pointer; 
	font-weight: bold; 
	background-repeat: no-repeat; 
	background-position: center left; 
	padding-left: 20px; 
	border-right: 1px solid #000000; 
	margin-left: -1px; 
} 

table thead tr th {
	background-color: #e6EEEE;
}

table {
	width: 100%;
	text-align: left;
	font-family: arial;
	border-collapse: collapse;
	border:1px solid #000000;
	text-align: center;
}

table td {
	border:1px solid #000000;
}
table hr {
	border:1px solid #000000;
}

table.basic td:nth-child(even) {
	background-color: #eeeeee;
}

tr:nth-child(even) {
	background-color: #eeeeee;
}

h1 {
	font-family: "Courier New", Courier, monospace
}
